{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Проверьте почту, мы выслали инструкцию по сбросу пароля.
              Если аккаунт с введенной вами почтой существует, вы должны будете получить письмо в скором времени.
		  </p>
		  <p class="m-auto p-2">
		    Если вы не получили письмо, проверьте введенную вами почту и проверьте папку со спамом
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Вернуться на главную</a></p>
	</div>
</div>

{% endblock %}